.main-container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.main-container-about__photo {
  width: 150px;
  height: auto;
  border-radius: 50rem;
  border: 1px solid;
  margin: 20px;
}
.image-footer {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100px;
}

.image-footer__picture {
  object-fit: cover;
  width:100%;
  height:100%;
}

.pages-links {
  display: flex;
  justify-content: space-around
}

.pages-links__gmail {
  width: 100px;
}
h1 {
  font-size: 20px;
}

.main-container-about__description {
  width: 60%;
  text-align: center;
}
